{% load static %}
<div class="row">
    <div class="col-2">
        <h1>Elevate Your Timekeeping! <br> A New Style!</h1>
        <p>Success is measured by moments. It's not just about the destination, but about making every second count. With precision and style, let your watch be a testament to your journey. Greatness is in the details—every tick brings you closer..</p>
    
        <a href="{% url 'list_products' %}" class="btn">Explore Now &#8594; </a>
    </div>
    <div class="col-2">
        <img src="{%static 'images/hlo.jpg'%}">
    </div>
</div>