{% load static %}

<div class="navbar">
    <div class="logo">
        <a href="{% url "index" %}"><img src="{% static 'images/logo.png' %}" alt="logo" width="125px"></a>
    </div>
    <form method="POST" action="{% url 'list_products' %}">
{% csrf_token %}
    <nav>
        <ul id="MenuItems" >
            <li class="search-bar">

                <input type="text" placeholder="Search..." name="q" value="{{ query }}">
                <button type="submit">
                    <svg class="svg-icon"  xmlns="http://www.w3.org/2000/svg" width="25" height="24" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                    </svg>
                </button>
            </li>
            <li><a href="{% url "index" %}">Home</a></li>
            <li><a href="{% url "list_products" %}">Products</a></li>
            {% if not user.is_authenticated %}
            <li><a href="{% url "show_account" %}">Account</a></li>
            {% else %}
            <li><a href="{% url "orders" %}">Orders</a></li>
            <li><a href="{% url "logout" %}">Logout</a></li>
            {% endif %}
            {% if user.is_authenticated %}
            <a href="{% url "show_cart" %}"><img src='static/images/cart.png' width="30px" height="30px"></a>
            {% endif %}
            <!-- Add the search bar here -->
           
        </ul>
    </nav>
</form>

    <img src='static/images/menu.png' class="menu-icon" onclick="menutoggle()">
</div>
<nav>
<div class="search-bar2">
    <form method="GET" action="{% url 'list_products' %}">

    <input type="text"  class="form-control" placeholder="Search..." name="q" value="{{ query }}">
    <button type="submit">
        <svg class="svg-icon"  xmlns="http://www.w3.org/2000/svg" width="25" height="24" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
        </svg>
    </button>
</form>
</div>
</nav>